.container {
    display: grid;
    grid-template-columns: repeat(1, minimax(0,1fr));
    gap: 1.5rem
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(0, 1fr);
    }
}

.skeleton {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(24 24 27 /0.3);
}

.skeleton-img,
.skeleton-btn,
.skeleton-line-one,
.skeleton-line-two {border-radius: 0.5rem}

.skeleton-img {height: 3.5rem; background-color: rgb(63 63 70 / 0.8);}

.skeleton btn,
.skeleton-line-one,
.skeleton-line-two {margin-top: 0.75rem; height: 0.75rem}

.skeleton-line-one,
.skeleton-line-two {background-color: rgb(63 63 70 / 0.5)}

.skeleton-line-one {width: 91.666667%}

.skeleton-line-two {width: 66.666667%}